*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200vh;
    background: hsl(30, 54%, 90%);
}
img{
    width: 100%;
    border-radius: 10px;  
    display: block;
 }
 .block{
     text-align: left;
     background-color: white;
     max-width: 630px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 20px;
     margin: 7%;
 }
 td{
    padding-left: 30px;
 } 
  tr:hover {
    background-color: #D6EEEE;
    border-bottom-color: 5px solid #dddddd00;
}
.attribution{
    padding-top: 20px;
}
h1{
    padding-top: 15px;
    padding-bottom: 15px;
}
p{
    font-size: 16px;
    padding-bottom: 15px;
}
.pink{
    background-color:  hsl(330, 100%, 98%);
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}
ul{
    padding-left: 25px;
    list-style: none;
}
 ul li::before{
    padding-left: 10px; 
    padding-bottom: 10px;
    content: "\2022";/* its the css code or unicode for a  */
    color:  hsl(14, 45%, 36%);
    font-weight: 900;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}
ol{
    padding-left: 25px;  
}
ol li{
    padding-left: 10px; 
    padding-bottom: 10px;
}
hr{
    margin-top: 10px;
    margin-bottom: 15px;
}
h2{
    margin-top: 10px;
    margin-bottom: 15px;
    color:  hsl(14, 45%, 36%);
}
h3{
    margin-bottom: 10px;
    color:  hsl(332, 51%, 32%);
}
.line{
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;

   
}

.container3{
    width: 90%;
    margin: 0;
}

